# Distribution / packaging
.Python
env/
config/production.json
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
.dynamodb/
node_modules/

coverage/
scratch/
.nuxt/
